extends ../index
block content
    .container.mt-5
        .row.justify-content-center
            .col-md-8.text-center
                h1.text-primary Welcome to the Global Zoo Network
                h3.text-secondary Connecting Zoos Worldwide for Animal Conservation
                p.lead My role is to facilitate the collaboration of international zoos and animal sanctuaries in the efforts to preserve endangered species through careful and thoughtful matching of animals. We maintain an extensive database that helps you find the perfect mates for at-risk species within your care.
                hr
                p This initiative aims not only to enhance the genetic diversity of captive populations but also to engage the global community in conservation efforts. The health, safety, and genetic diversity of our animals are our top priorities, ensuring a brighter future for species at risk of extinction.
