doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Welcome to the Animal Preservation System, a platform dedicated to the matchmaking of at-risk animals for preservation.")
        
        // Preload critical assets, if necessary
        // link(rel="preload", href="/path/to/critical/asset.css", as="style")
        // link(rel="preload", href="/path/to/critical/asset.js", as="script")

        // Bootstrap CSS
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
        
        // Custom CSS
        link(rel="stylesheet", href="./styles.css")
        
        // Page Title
        title= pageTitle

    body
        // Include navigation bar
        include ./partials/navbar
        
        // Include title or hero section if applicable
        include ./partials/title
        
        // Main content block
        block content
        
        // Bootstrap JS with defer attribute to prevent blocking
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js", defer, integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+", crossorigin="anonymous")
